<html>
<link rel="stylesheet" href="/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/script.js"></script>

<head>
</head>

<body>
    <h1>Github account info</h1>
    <div class="wrapper">
        <div class="search">
            <input type=text placeholder="Enter github account" id="search-text">
            <button id="search-btn">search</button>
            <br>
            <lable id="validation-msg"> </lable>
        </div>
        <br><br>
        <div class="profile">
            <table id="userdata">
                <thead>
                    <!-- <th>#</th> -->
                    <th>Account</th>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Actions</th>
                </thead>
                <tbody id="user-info">
                    <% usersInfo.forEach(user => { %>
                        <tr>
                            <td>
                                <%= user.login %>
                            </td>
                            <td>
                                <div class="editable">
                                    <%= user.name %>
                                </div>
                            </td>
                            <td>
                                <div class="editable"></div>
                                <%= user.company %>
        </div>
        </td>
        <td class="action"><input type="button" class="btn btn_edit" value="Edit" id="edt_<%= user.login %>">
            <input type="button" class="btn btn_delete" value="Delete" id="del_<%= user.login %>">
            <input type="button" class="btn btn_save" value="Save" id="sav_<%= user.login %>">
            <input type="button" class="btn btn_cancel" value="Cancel" id="can_<%= user.login %>">
        </td>

        </tr>

        <% }) %>
            </tbody>
            </table>
    </div>
    </div>

</body>
<script type="text/javascript">
    $(document).find('.btn_save').hide();
    $(document).find('.btn_cancel').hide();
</script>

</html>